fastapi
uvicorn[standard]
sqlmodel
psycopg2[binary]
psycopg[binary]
pgvector
alembic
pydantic-settings
python-jose[cryptography]
PyJWT[crypto]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv
email-validator
google-genai
python-multipart
